.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* new code */

.container {
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.container .calbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #a39e9e;
}

.container .calbutton .type-area {
  width: 100%;
  padding: 17px;
  font-size: 24px;
  background-color: #969292;
  color: white;
  text-align: end;
}

.container div span,
.container div .btn {
  border: 1px solid #dfdddd;
  font-size: 20px;
  width: 25%;
  background-color: aliceblue;
  color: black;
  padding: 20px 2px;
  cursor: pointer;
}

.container div .zero {
  flex-grow: 2;
}

.container div .opration {
  background-color: #ec930c;
}
