.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

/* new code */

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .calbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #a39e9e;
}

.container .calbutton .type-area {
  width: 100%;
  padding: 17px;
  font-size: 24px;
  background-color: #969292;
  color: white;
  text-align: end;
}

.container div span,
.container div .btn {
  border: 1px solid #dfdddd;
  font-size: 20px;
  width: 25%;
  background-color: aliceblue;
  color: black;
  padding: 20px 2px;
  cursor: pointer;
}

.container div .zero {
  flex-grow: 2;
}

.container div .opration {
  background-color: #ec930c;
}

.error {
  padding: 20px;
  width: 100%;
  color: red;
}

.loading {
  padding: 20px;
  color: green;
}

.container ul li {
  padding: 20px;
  list-style: none;
  background-color: #a39e9e;
  border-radius: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid #969292;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0 25px;
  color: #1e0fe9;
}

.navigation ul li {
  padding: 0 25px;
  cursor: pointer;
  list-style: none;
  border-right: 1px solid #a39e9e;
}

.navigation ul .last {
  border-right: none;
}

.navigation ul li:hover {
  text-decoration: underline;
}
